<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Groups</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="hands.ico" />
        <link rel="stylesheet" href="css/bootstrap.min.css">         
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="css/mdb.min.css" rel="stylesheet">
            
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src ="js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>      
        <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/tether.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
    </head>
    <body>
      
        <div ng-app="myApp" ng-controller="myCtrl">
            <table>
                <td>
                    <img src="CERT Logo.jpg" name="image" height="150" width="500"/>
                </td>
                </tr>
            </table>
            <nav class="navbar navbar-dark mdb-color">
                <div class="container-fluid">
                    <!--<div class="navbar-header">
                      <ul class="nav navbar-nav">
                    <!--<div class="container">
        
                    <!--Collapse content-->
                    <div class="collapse navbar-toggleable-xs" id="collapseEx">
                        <!--Navbar Brand-->
                        <!--Links-->
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a href=home.html>Home</a></li>
                            <li class="nav-item"><a href=reports.html>Reports</a></li>
                            <li class="nav-item "><a href=Volunteers.html>Volunteers</a></li>
                            <li class="nav-item active"> <a href=groups.html>Groups</a></li> 
                            <li class="nav-item"><a href=aboutUs.html>About Us</a></li> 
                            <li class="nav-item"><a href=FAQ.html>FAQ's</a></li> 
                        </ul>

                        <form action ="LoginPage.html">
                   <button class="btn btn-primary btn-sm" style="float: right" type="submit">Logout</button> 
                        </form>
                    </div>     
                </div>
            </nav>    
     
            <div class="container">

                <div class="row"><br>
                    <form class="form-inline" role="search">
                        <div class="md-form form-group">
                            <input type="text" class="form-control" ng-model="test" placeholder="Search">

                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>                                                      
                        </div><br>
                     
<!--                        <button style="float: right" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#createGroup" ><span class="fa fa-plus">&nbsp;Create Group</span></button>-->
                    </form>
      
    <h2><strong> Groups </strong></h2> <br>


                    <div class="col-md-12">
                        <div class="table-responsive">                           
                            <table id="mytable" class="table table-bordered table-striped">
                                <thead class="thead-inverse">                                
                              <th><input type="checkbox" id="checkall"  /></th>
                                <th>Group Id</th>
                                <th>Group Name</th>
                                <th>Description</th>
                                <th>Group Lead Mail  Id</th>
                                <th>Incident</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in Groups| filter:test">
                                        <td><input type="checkbox" class="checkthis" /></td>
                                        <td>
                                            <div ng-hide="editingData[x.id]" ng-bind="x.GroupId"></div>
                                            <div ng-show="editingData[x.id]"><input type="text" ng-model="x.GroupId" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editingData[x.id]" ng-bind="x.GroupName"></div>
                                            <div ng-show="editingData[x.id]"><input type="text" ng-model="x.GroupName" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editingData[x.id]" ng-bind="x.Description"></div>
                                            <div ng-show="editingData[x.id]"><input type="text" ng-model="x.Description" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editingData[x.id]" ng-bind="x.GroupLeadMailId"></div>
                                            <div ng-show="editingData[x.id]"><input type="text" ng-model="x.GroupLeadMailId" /></div>
                                        </td>
                                        <td>
                                            <div ng-hide="editingData[x.id]" ng-bind="x.IncidentName"></div>
                                            <div ng-show="editingData[x.id]"><input type="text" ng-model="x.IncidentName" /></div>
                                        </td>
                                                             
                                        <!--                                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                                                                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>-->
                                        <td>
                                            <button ng-hide="editingData[x.id]" ng-click="modify(x)" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></button>
                                            <button ng-show="editingData[x.id]" ng-click="update(x)" class="btn btn-warning btn-sm"><span class="fa fa-check-square"></span>Update</button></td>
                                        <td>   <button ng-hide="viewField" class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button>
                                        </td>
                                    </tr>                            



                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times" aria-hidden="true"></span></button>
                                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                            </div>
                            <div class="modal-body">

                                <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Group?</div>

                            </div>
                            <div class="modal-footer ">
                                <button type="button" class="btn btn-success" ><span class="fa fa-check"></span> Yes</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal"><span class="fa fa-remove"></span> No</button>
                            </div>
                        </div>
                        <!-- /.modal-content --> 
                    </div>
                    <!-- /.modal-dialog --> 
                </div>
            </div>
            <script>
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function ($scope) {
                    $scope.Groups = [{"GroupId": 01, "GroupName": "Rescuers", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Collapsed building"},
                        {"GroupId": 02, "GroupName": "FireFighters", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Fire"},
                        {"GroupId": 03, "GroupName": "Doctors", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Fire"},
                        {"GroupId": 04, "GroupName": "Nurse", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Fire"},
                        {"GroupId": 05, "GroupName": "Lifeguard", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Fire"},
                        {"GroupId": 06, "GroupName": "Law Enforcement Officer", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Power"},
                        {"GroupId": 07, "GroupName": "Heavily Equiped Operator", "Description": "Need to be updated", "GroupLeadMailId": "johhnadam@gmail.com", "IncidentName":"Flood"}
                    ];
                    $scope.editingData = {};

                    for (var i = 0, length = $scope.Groups.length; i < length; i++) {
                        $scope.editingData[$scope.Groups[i].id] = false;
                    }


                    $scope.modify = function (x) {
                        $scope.editingData[x.id] = true;
                    };


                    $scope.update = function (x) {
                        $scope.editingData[x.id] = false;
                    };
                });
            </script>
            <script>
                $(document).ready(function () {
                    $("#mytable #checkall").click(function () {
                        if ($("#mytable #checkall").is(':checked')) {
                            $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", true);
                            });

                        } else {
                            $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", false);
                            });
                        }
                    });

                    $("[data-toggle=tooltip]").tooltip();
                });
            </script>

        </div>
    </body>
</html>
