<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="hands.ico" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src ="js/bootstrap.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    </head> 
    <body style="background-image: url(img/portfolio/fullsize/x1.jpg)">
        <table>
                <td>
                    <img src="CERT Logo.jpg" name="image" height="150" width="500"/>
                </td>
                </tr>
            </table>
        <div class="container"> 
                      
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Login</div>
                        
                    </div>     

                    <div style="padding-bottom: 10px;padding-left: 150px;padding-top: 20px" class="panel-body" >

                        Username: <input type="email" id="UsernameError" name="user" ng-model="user" required="true"/><br><br>

                        Password:&nbsp; <input type="password" id="PasswordError" name="user" ng-model="password" required="true"/>

                    </div>   
                    <div style="padding-bottom:20px;padding-left: 150px" class="panel-body" >

                        
                        <div style=" font-size: 80%; position: relative; top:-10px"><a href="Home.html"><input type="button" class="btn btn-primary" value="Login"/></a> <a href="Forgot.html"><h6>Forgot password?</h6></a></div>
                    </div>
                </div>                     
            </div>  
        </div>

        <script src ="js/bootstrap.min.js"></script>    
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>


    </body>
</html>