<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Volunteers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="hands.ico" />
    <link rel="stylesheet" href="css/bootstrap.min.css">         
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <script src ="js/bootstrap.min.js"></script>    
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>      
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script> 
</head>
<body>


    <div ng-app="myApp" ng-controller="myCtrl">
        <table>
            <td>
                <img src="CERT Logo.jpg" name="image" height="150" width="500"/>
            </td>
        </tr>
    </table>
    <nav class="navbar navbar-dark mdb-color">
        <div class="container-fluid">
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Navbar Brand-->
                <!--Links-->
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/Groups">Home</a></li>
                    <li class="nav-item"><a href="/Reports">Reports</a></li>
                    <li class="nav-item active"><a href="/Volunteers">Volunteers</a></li>
                    <li class="nav-item"> <a href="/Groups">Groups</a></li> 
                    <li class="nav-item"><a href=aboutUs.html>About Us</a></li> 
                    <li class="nav-item"><a href=FAQ.html>FAQ's</a></li> 
                </ul>

                <form action ="/Login">
                 <button class="btn btn-primary btn-sm" style="float: right" type="submit">Logout</button> 
             </form>
         </div>     
     </div>
 </nav>            
 <div class="container">

    <div class="row"><br>
        <form class="form-inline" role="search">
            <div class="md-form form-group">
             <h2><strong>Volunteers </strong> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <input type="text" class="form-control" ng-model="test" placeholder="Search">

                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>                                                      
            </h2>
        </div>
        <button style="float: right" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#create" ><span class="fa fa-plus"></span>&nbsp;Create New Volunteer</button>
        <button style="float: right" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#createGroup" ><span class="fa fa-plus"></span>&nbsp;Create Group</button>
    </form>
    <div class="col-md-12">
        <div class="table-responsive">                           
            <table id="mytable" class="table table-bordered table-striped">
                <thead class="thead-inverse">    
                    <tr class="filters">                            
                        <th>
                            <input type="checkbox" id="checkall"  />
                        </th>
                        <th>Username</th>                    
                        <th>Certification<br>
                            <select ng-model='test'>
                                <option></option>
                                <option ng-repeat = "certi in volunteers| filter: test | unique: 'cert' | orderBy: 'cert'">{{certi.cert}}</option>
                            </select>
                        </th>  
                        <th>Profession<br>
                            <select ng-model='test'>
                                <option></option>
                                <option ng-repeat = "prof in volunteers| filter: test | unique: 'profession' | orderBy: 'profession'">{{prof.profession}}</option>
                            </select></th>                  
                            <th>Address</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in volunteers| filter:test | orderBy:'userName'">
                            <td><input type="checkbox" class="checkthis" /></td> 
                       <!--  <td>
                       <!-- <div ng-hide="editingData[x._id]" ng-bind="x._id"></div> -->
                       <!-- <div ng-show="editingData[x._id]"> -->
                       <!-- <input type="text" ng-model="x._id" /></div> -->
                       <!-- <p ng-bind='x._id'></p> -->
                       <!-- </td> --> 
                       <td>
                        <div ng-hide="editingData[x._id]" ng-bind="x.userName"></div>
                        <div ng-show="editingData[x._id]"><input type="text" ng-model="x.userName" /></div>
                    </td>

                    <td>
                        <div ng-hide="editingData[x._id]" ng-bind="x.cert"></div>
                        <div ng-show="editingData[x._id]"><input type="text" ng-model="x.cert" /></div>
                    </td>
                    <td>
                        <div ng-hide="editingData[x._id]" ng-bind="x.profession"></div>
                        <div ng-show="editingData[x._id]"><input type="text" ng-model="x.profession" /></div>
                    </td>
                    <td>
                        <div ng-hide="editingData[x._id]" ng-bind="x.address"></div>
                        <div ng-show="editingData[x._id]"><input type="text" ng-model="x.address" /></div>
                    </td>
                    <td>
                        <div ng-hide="editingData[x._id]" ng-bind="x.emailID"></div>
                        <div ng-show="editingData[x._id]"><input type="text" ng-model="x.emailID" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}$" title=" Enter in this format: abc@domain.com "/></div>
                    </td>
                    <td>
                        <div ng-hide="editingData[x._id]" ng-bind="x.mobileNumber"></div>
                        <div ng-show="editingData[x._id]"><input type="text" ng-model="x.mobileNumber" pattern="^\d{3}-\d{3}-\d{4}$" title="Please enter 10 digit contact no." /></div>
                    </td>
                    <td>
                        <button ng-hide="editingData[x._id]" ng-click="modify(x)" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type='submit' ng-show="editingData[x._id]" ng-click="update(x)" class="btn btn-warning btn-sm">
                            <span class="fa fa-save"></span></button>
                        </td>
                        <td>   
                            <!-- <button ng-model="x._id" ng-hide="viewField" class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"> -->
                            <button type='submit' ng-model="x._id" ng-hide="viewField" class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" ng-click="delete(x)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>                       



                </tbody>
            </table>                            
        </div>
    </div>

</div></div>

<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Create New Volunteer</h4>
            </div>
            <form action="/insertVolunteer" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        Username: <input class="form-control " type="text" name='userName' required>
                    </div>

                    <div class="form-group">
                        Certification: <select name='cert' class="mdb-select">
                        <option value="" disabled selected>Choose your Level</option>
                        <option value="Level 1">Level 1</option>
                        <option value="Level 2">Level 2</option>
                        <option value="Level 3">Level 3</option>
                        <option value="Level 4">Level 4</option>
                    </select> 
                    <!-- <input class="form-control " type="text" name='cert' required> -->
                </div>
                <div class="form-group">
                    Profession:  <input class="form-control " type="text" name='profession' required>
                </div>
                <div class="form-group">

                    Address: <input class="form-control " type="text" name='address' placeholder="Street         City     State    Zip" required>
                            <!-- City: <input class="form-control " type="text" name='city' required> 
                            State: <input class="form-control " type="text" name='state' required>
                            Zip: <input class="form-control " type="text" name='zip'pattern="^\d{5}$" placeholder="zip must be 5 digits" title="Must be 5 digits only"required>   -->                   
                        </div>
                        <div class="form-group">
                            Email:  <input class="form-control " type="email" name='emailID' pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}$" placeholder="Format:abc@domain.com" required>
                        </div>
                        <div class="form-group">
                            Contact:  <input class="form-control" type="tel" name='mobileNumber' pattern="^\d{3}-\d{3}-\d{4}$" placeholder="XXX-XXX-XXXX" required>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="fa fa-check-square"></span>Add</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content --> 
        </div>

        <!-- /.modal-dialog --> 
    </div>
    <div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title custom_align" id="Heading">Create Group</h4>
                </div>       
                <form action="/insertGroup" method="post">             
                    <div class="modal-body">
                        <div class="form-group">
                            Group Name: <input class="form-control " type="text" name='groupname' required>
                        </div>
                        <div class="form-group">
                            Incident: <input class="form-control " type="text" name='incidentname' required>
                        </div>
                        <div class="row">

                            <div class="form-group">
                             &nbsp;&nbsp;&nbsp; Group Lead Mail Id: 
                         </div>
                         <div class="col-md-6">
                            <div class="md-form">
                                <input class="form-control " type="text" name='GroupLeadMailId' ng-model="groupLead" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <select ng-model='groupLead' name='GroupLeadMailId'>
                                    <option ng-repeat = "user in volunteers| filter: groupLead | unique: 'userName' | orderBy: 'userName'">{{user.emailID}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                        &nbsp;&nbsp;&nbsp; Group Members: 
                     </div>
                     <div class="col-md-6">
                        <div class="md-form">
                            <input class="form-control " type="text" name='GroupMem' ng-model="groupLead" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form">
                            <select ng-model='groupMem' name='GroupMem' multiple="true">
                                <option ng-repeat = "user in volunteers| filter: groupMem | unique: 'userName' | orderBy: 'userName'">{{user.emailID}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    Description : <textarea type="text" class="md-textarea" name='desc' required></textarea>
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-success btn-lg" style="width: 100%;"><span class="fa fa-check-square"></span>Add Group</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<!-- <form action="/deleteVolunteer" method="post"> -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="fa fa-times" aria-hidden="true">
                    </span>
                </button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?
                </div>
            </div>
            <div class="modal-footer ">
                <button type="submit" ng-click="delete(x)" class="btn btn-success">
                    <span class="fa fa-check"></span>Yes</button>
                    <button class="btn btn-warning" data-dismiss="modal">
                        <span class="fa fa-remove"></span>No</button>
                    </div>
                </div>

                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
        </div>
        <!-- </form> -->
    </div>
    <script>
        var app = angular.module('myApp', ['angular.filter']);
        app.controller('myCtrl', ['$scope', '$http', '$window', function ($scope, $http, $location) {

//                                                        $http({method: 'GET',
//                                                            url: 'http://localhost:3000/Volunteers',
//                                                            headers: {
//                                                                'Content-Type': 'application/json'
//                                                            }
//                                                        }).then(function (result) {
//                                                            $scope.volunteers = result;
//                                                            console.log(result);
//                                                            console.log("hi" + JSON.stringify(result));
//                                                        }, function (error) {
//                                                            console.log(error);
//                                                        }
//                                                        );
$scope.volunteers = <%- JSON.stringify(vol) %>;
$scope.editingData = {};

for (var i = 0, length = $scope.volunteers.length; i < length; i++) {
    $scope.editingData[$scope.volunteers[i]._id] = false;
}


$scope.modify = function (x) {
    $scope.editingData[x._id] = true;
};

$scope.delete = function(x){
    var _id = x._id;
    return $http({method: 'POST',
       url: '/deleteVolunteer',
       data: JSON.stringify({
        _id: x._id
    }),
       headers: {
           'Content-Type': 'application/json'
       }
   }).success(function (response) {
                                             window.location='/Volunteers';  
                                             
                                         });
};
$scope.update = function (x) {
    var _id = x._id;
    $http({method: 'POST',
       url: '/updateVolunteer',
       data: JSON.stringify({
        _id: x._id,
        userName: x.userName,
        profession: x.profession,
        address: x.address,
        emailID: x.emailID,
        cert: x.cert,
        mobileNumber: x.mobileNumber
        
    }),
       headers: {
           'Content-Type': 'application/json'
       }
   });
    $scope.editingData[x._id] = false;
};
}]);
</script>
<script>
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
        $('#mytable').dataTable(
           { "bFilter": false, 
           "ordering": false,
           "lengthMenu": [ [10,  25, 50, -1], [10, 25, 50, "All"] ] });
    });
</script>

</body>
</html>
